@page
@model EnsaPlatform.Pages.Administrations.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].CIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].NOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].PRENOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].TEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].DATE_NAISSANCE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].LIEU_NAISSANCE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].ADDRESSE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administration[0].Occupation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Administration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRENOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_NAISSANCE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LIEU_NAISSANCE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESSE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AdministrationID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AdministrationID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AdministrationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
