@page
@model EnsaPlatform.Pages.Absences.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Absence[0].Present)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Absence[0].Sceance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Absence[0].Etudiant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Absence) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Present)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sceance.SceanceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etudiant.EtudiantID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AbsenceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AbsenceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AbsenceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
